body {
    padding: 0;
    margin: 0;
    background-color: #efefef;
    transition-duration: 0.2s;
}

input,
select,
textarea {
    max-width: 280px;
    overflow: auto;
    position: relative;
}

a, a:visited, a:active {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #9b59b6;
    text-decoration: none;
}

h1 {
    font-size: 4em;
    color: #81b200
}

h3 {
    font-size: 2em;
}

p {
    font-size: 2em;
}

@media(max-height: 900px){
    .box-container {
        min-height: 160vh;
    }
}

#start {
    height: 100vh;
    padding: 50px;
}

#start img {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#start h1 {
}

#about {
    /*background-color: #ecf0f1;*/
    height: 100vh;
    padding: 50px;
}

#projects {
    background-color: #34495e;
    height: 100vh;
    padding: 50px;
}

#projects h1 {
    color: #000;
}

#contact {
    /*background-color: #ecf0f1;*/
    height: 100vh;
    padding: 50px;
}

.splitter {
    width: 90vw;
    height: 2px;
    margin: 0 auto;
    background-color: #81b200;
}

.text-splitter {
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: #81b200;
}

.content {
    float: left;
    max-width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}