@model List<Website.Models.Project>
@section projects {
    @foreach (var item in Model)
    {
        <li><a href="@item.Link">@item.Title</a></li>
    }
}

@{
    ViewBag.Title = "About";
}

@section stylesheets {
    <link href="~/css/about.css" rel="stylesheet" />
}

<h1>About</h1>

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/IMG/aleksei.jpg" alt="Alekei Kazakov">
            <div class="caption">
                <h3>Alekei Kazakov</h3>
                <p>...</p>
                <p><a href="https://github.com/cossack-hd" class="btn btn-primary" role="button">GitHub</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/IMG/alex.jpg" alt="Alex Bierhance Söderberg">
            <div class="caption">
                <h3>Alex Bierhance Söderberg</h3>
                <p>...</p>
                <p><a href="https://github.com/Aiiion" class="btn btn-primary" role="button">GitHub</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/IMG/felix-wetell.jpg" alt="Felix Wetell">
            <div class="caption">
                <h3>Felix Wetell</h3>
                <p>...</p>
                <p><a href="https://github.com/felixwetell" class="btn btn-primary" role="button">GitHub</a></p>
            </div>
        </div>
    </div>

    <div id="last-thumbnail" class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img src="~/IMG/steven.jpg" alt="Steven Bergqvist">
            <div class="caption">
                <h3>Steven Bergqvist</h3>
                <p>...</p>
                <p><a href="https://github.com/SteevoB" class="btn btn-primary" role="button">GitHub</a></p>
            </div>
        </div>
    </div>
</div>
