@model List<Website.Models.Project>

@section projects {
    @foreach (var item in Model)
    {
        <li><a>@item.Title</a></li>
    }
}

@{
    ViewBag.Title = "About";
}

@section stylesheets {
    <link href="~/css/about.css" rel="stylesheet" />
}

<h2>About</h2>

