
@{
    ViewBag.Title = "Contact";
}

@section stylesheets {
    <link href="~/css/contact.css" rel="stylesheet" />
}

<h2>Contact</h2>
<hr />
<p class="h4">For buisniess inqueries please use channels below for inital communications</p>
<p class="h5">Meetings in person or via videochat will be booked accordingly</p>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Email :</h4>
        <p class="list-gruop-item-text">h1h2@hotmail.se</p>
    </a>   
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Postal Adress :</h4>
        <p class="list-gruop-item-text">KVARTETTVÄGEN 2-6, 142 63 TRÅNGSUND</p>
        <p class="list-gruop-item-text">Ship to Alex Söderberg at T4 Department</p>
    </a>   
</div>


