
@{
    ViewBag.Title = "Contact";
}

@section stylesheets {
    <link href="~/css/contact.css" rel="stylesheet" />
}

<h2>Contact</h2>
<hr />
<div class="list-group">
    
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Email :</h4>
        <p class="list-gruop-item-text">h1h2@hotmail.se</p>
    </a>   
</div>


