@model List<Website.Models.Project>
@section projects {
    @foreach (var item in Model)
    {
        <li><a href="@item.Link">@item.Title</a></li>
    }
}


@{
    ViewBag.Title = "Contact";
}

@section stylesheets {
    <link href="~/CSS/contact.css" rel="stylesheet" />
}

<h2>Contact</h2>
<hr />

<p class="h4">For buisniess inqueries or further information please use channels below for inital communications</p>
<p class="h5">Meetings in person or through videochat will be booked accordingly</p>

<div class="list-group">
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Email :</h4>
        <p class="list-gruop-item-text"><b>h1h2@hotmail.se</b></p>
    </div>

    <div class="list-group-item">
        <h4 class="list-group-item-heading">Organization :</h4>
        <p class="list-gruop-item-text"><strong><a href="https://github.com/Mountain-Dev">GitHub</a></strong></p>
    </div>  
     
    <div class="list-group-item">
        <h4 class="list-group-item-heading">Postal Adress :</h4>
        <p class="list-gruop-item-text"><b>KVARTETTVÄGEN 2-6, 142 63 TRÅNGSUND</b></p>
        <p class="list-gruop-item-text"><strong>Ship to </strong><b>Alex Söderberg at T4 Department</b></p>
    </div>
</div>
