@model List<Website.Models.Project>
@section projects {
    @foreach (var item in Model)
    {
        <li><a href="@item.Link">@item.Title</a></li>
    }
}

@{
    ViewBag.Title = "Index";
}

@section stylesheets {
    <link href="~/css/index.css" rel="stylesheet" />
}

<img id="logoImg" src="~/IMG/mountain-dev-logo.png" class="img-responsive center-block" />
<h1 class="text-center"><b id="name">Mountain Development</b></h1>

<hr />
<h1 class="text-center"><strong>Welcome</strong></h1>

