@model List<Website.Models.Project>
@section projects {
    @foreach (var item in Model)
    {
        <li><a href="@item.Link">@item.Title</a></li>
    }
}

@{
    ViewBag.Title = "Index";
}

@section stylesheets {
    <link href="~/css/index.css" rel="stylesheet" />
}

<h2>Index</h2>

