@model List<Website.Models.Project>

@{
    ViewBag.Title = "Projects";
}

@section stylesheets {
    <link href="~/css/projects.css" rel="stylesheet" />
}

<h1>Projects</h1>
@foreach (var item in Model)
{
    <hr />
    <h3>@item.Title</h3>
    <p>@item.Description</p>
    <br />
    <p><a class="btn btn-primary btn-lg" href="@item.Link" role="button">Repository</a></p>
}