<div class="col-lg-12 text-center" id="start">
    <div class="content">
        <img src="~/Content/img/mtn_dev_logo_simple_bw_1024.png" />
        <h1><b>Mountain Dev</b></h1>
        <h3>
            <a href="http://stevenbergqvist.azurewebsites.net">Steven Bergqvist</a>
            <br />
            <a href="http://felixwetell.azurewebsites.net">Felix Wetell</a>
            <br />
            <a href="http://alexbierhance.azurewebsites.net">Alex Bierhance</a>
            <br />
            <a href="http://alekseikazakov.azurewebsites.net">Aleksei Kazakov</a>
        </h3>
    </div>
</div>

<div class="splitter"></div>

<div class="col-lg-12" id="about">
    <div class="content">
        <h1 class="text-center"><b>About</b></h1>
    </div>
</div>

<div class="col-lg-12" id="projects">
    <div class="content">
        <h1 class="text-center"><b>Projects</b></h1>
    </div>
</div>

<div class="col-lg-12" id="contact">
    <div class="content">
        <h1 class="text-center"><b>Contact</b></h1>
    </div>
</div>
