#navbar-logo {
    width: 20px;
    height: 20px;
    background-color: white;

}

b {
    color: royalblue;
}

.background {


    background-image: url("http://i.imgur.com/k0HFTO2.jpg");
    position: relative;
    width: 100%;
    height: 900px;
}




.container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-image: url("http://i.imgur.com/oqONvuA.jpg");
    opacity: 1;


}



#bootstrap-overrides  a {

    color: royalblue;

}

.round-border {

    border-radius: 7px;

}